pipeline/PL_AUTOUD_INBND_WEB_LOOKUP.json
{
	"name": "PL_AUTOUD_INBND_WEB_LOOKUP",
	"properties": {
		"description": "BRP_WEB_APP_LOOKUP...",
		"activities": [
			{
				"name": "Lookup_Cleansed_Data",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored Procedure Del",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OrcSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*.orc"
						}
					},
					"dataset": {
						"referenceName": "DS_ADLS_AUTOUD_INBND_SRC_INC",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Cleansed_Data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set_SessionId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Cleansed_Data').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Execute_veeva_bpr_web_app",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_AUTOUD_INBND_WEB_APP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"url": {
										"value": "@variables('url')",
										"type": "Expression"
									},
									"password": {
										"value": "@variables('password')",
										"type": "Expression"
									},
									"username": {
										"value": "@variables('username')",
										"type": "Expression"
									},
									"val_plant_code": {
										"value": "@item().plant_code",
										"type": "Expression"
									},
									"val_email_address": {
										"value": "@pipeline().parameters.var_email_address",
										"type": "Expression"
									},
									"val_material": {
										"value": "@item().material_number",
										"type": "Expression"
									},
									"val_batch": {
										"value": "@item().batch",
										"type": "Expression"
									},
									"val_source_filename": {
										"value": "@item().source_filename",
										"type": "Expression"
									},
									"val_sessionId": {
										"value": "@variables('val_sessionId')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set load_txn_tm",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute_veeva_bpr_web_app",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "val_last_loaded_txn",
								"value": {
									"value": "@item().load_txn_tm",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Copy_AutoUd_Inbnd_Session_Details",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach_Cleansed_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT [source_name]\n      ,[url]\n      ,[sessionId]\n      ,[plant_code]\n      ,[material_number]\n      ,[batch]\n      ,[organization__c]\n      ,[api_name__v]\n      ,[response_status]\n      ,[id]\n      ,[state__v]\n      ,[name__v]\n      ,[final_criticality__c]\n      ,[initial_criticality__c]\n\t  ,[batch_quality_event__cr]\n      ,[source_filename]\n      ,[pipeline_runid]\n      ,[pipeline_name]\n      ,[load_txn_tm]\n  FROM [VVQM].[Autoud_Inbnd_Session_Details]",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AvroSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "AvroWriteSettings",
							"quoteAllText": true
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_SQL_BPR_GETFILES",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_ADLS_AUTOUD_INBND_SESSION_DETAILS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web_Session_Transfer_Failure_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Copy_AutoUd_Inbnd_Session_Details",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-87.eastus.logic.azure.com:443/workflows/b5ceb1071908488fa27b7b7470c9e405/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=BWFiK2D6vtS0Z0LofAoo8vUnUKt3sAmcOQ47M0l1Djw",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"EmailTo\":\"@{pipeline().parameters.var_email_address}\",\n \"PipelineName\":\"@{pipeline().Pipeline}\",\n \"PipelineRunId\":\"@{pipeline().RunId}\",\n \"PipelineTime\":\"@{pipeline().TriggerTime}\",\n \"Subject\":\"Pipeline Failed: @{pipeline().Pipeline}\",\n \"ErrorMessage\":\"Auto UD Session Details Transfer Failed\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_ForEach_Cleansed_Data_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ForEach_Cleansed_Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-87.eastus.logic.azure.com:443/workflows/b5ceb1071908488fa27b7b7470c9e405/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=BWFiK2D6vtS0Z0LofAoo8vUnUKt3sAmcOQ47M0l1Djw",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"EmailTo\":\"@{pipeline().parameters.var_email_address}\",\n \"PipelineName\":\"@{pipeline().Pipeline}\",\n \"PipelineRunId\":\"@{pipeline().RunId}\",\n \"PipelineTime\":\"@{pipeline().TriggerTime}\",\n \"Subject\":\"Pipeline Failed: @{pipeline().Pipeline}\",\n \"ErrorMessage\":\"Auto UD ForEach_Cleansed_Data Failed\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored Procedure Del",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[VVQM].[delete_session_details_proc]",
					"storedProcedureParameters": {
						"source_name": {
							"value": "autoud_inbnd",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_VVQM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Stored Procedure Delta_BPR_API",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach_Cleansed_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[VVQM].[delta_API_call_proc]",
					"storedProcedureParameters": {
						"last_loaded_txn": {
							"value": {
								"value": "@variables('val_last_loaded_txn')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipeline_load_txn_tm": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"source_name": {
							"value": "autoud_inbnd",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_VVQM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Web Url",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://bpaze1ivvqmkv01.vault.azure.net/secrets/VVQM-AUTOUD-URL/?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set UserName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web UserName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "username",
					"value": {
						"value": "@activity('Web UserName').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Password",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web Password",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "password",
					"value": {
						"value": "@activity('Web Password').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Url",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web Url",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "url",
					"value": {
						"value": "@activity('Web Url').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web Password",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://bpaze1ivvqmkv01.vault.azure.net/secrets/VVQM-AUTOUD-PASSWORD/?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Web UserName",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://bpaze1ivvqmkv01.vault.azure.net/secrets/VVQM-AUTOUD-USER/?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "EXE_PL_AUTOUD_OUTBND_EXECUTE",
				"description": "Execute Pipeline to Extract the Data from Inbound & Post to Outbound API",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy_AutoUd_Inbnd_Session_Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PL_AUTOUD_OUTBND_EXECUTE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"var_email_address": {
							"value": "@pipeline().parameters.var_email_address",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Web_Login",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set UserName",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Url",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Password",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_Cleansed_Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{variables('url')}/api/v19.3/auth?username=@{variables('username')}&password=@{variables('password')}",
						"type": "Expression"
					},
					"method": "POST",
					"body": {
						"value": "{\"username\":\"@{variables('url')}\",\"password=\":\"@{variables('password')}\"}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_SessionId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_Login",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "val_sessionId",
					"value": {
						"value": "@activity('Web_Login').output.sessionId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_Failure_Login_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web_Login",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-87.eastus.logic.azure.com:443/workflows/b5ceb1071908488fa27b7b7470c9e405/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=BWFiK2D6vtS0Z0LofAoo8vUnUKt3sAmcOQ47M0l1Djw",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"EmailTo\":\"@{pipeline().parameters.var_email_address}\",\n \"PipelineName\":\"@{pipeline().Pipeline}\",\n \"PipelineRunId\":\"@{pipeline().RunId}\",\n \"PipelineTime\":\"@{pipeline().TriggerTime}\",\n \"Subject\":\"Pipeline Failed: @{pipeline().Pipeline}\",\n \"ErrorMessage\":\"Login Failed for @{variables('username')}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"var_email_address": {
				"type": "string"
			}
		},
		"variables": {
			"username": {
				"type": "String"
			},
			"password": {
				"type": "String"
			},
			"url": {
				"type": "String"
			},
			"val_last_loaded_txn": {
				"type": "String",
				"defaultValue": "1900-01-01T00:00:00Z"
			},
			"val_sessionId": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AUTOUD"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}