pipeline/PL_AUTOUD_INBND_SRC_DATA_PULL.json
{
	"name": "PL_AUTOUD_INBND_SRC_DATA_PULL",
	"properties": {
		"description": ".PL_AUTOUD_INBND_SRC_DATA_PULL...",
		"activities": [
			{
				"name": "readfilenames_from_lilly",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "checkforfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SFTP_AUTOUD_INBND_LILLY_CONN",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true
					}
				}
			},
			{
				"name": "loadmetadattotable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "readfilenames_from_lilly",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('readfilenames_from_lilly').output.childitems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "getlastmodifieddateof_file",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_SFTP_AUTOUD_INBND_FILE_SRC",
									"type": "DatasetReference",
									"parameters": {
										"filename": "@item().name"
									}
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "modifieddate",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "getlastmodifieddateof_file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "modifieddate",
								"value": {
									"value": "@activity('getlastmodifieddateof_file').output.lastModified",
									"type": "Expression"
								}
							}
						},
						{
							"name": "insert_to_filelog",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "modifieddate",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[VVQM].[usp_insert_filelog_veeva]",
								"storedProcedureParameters": {
									"filename": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"filesource": {
										"value": "AutoUD",
										"type": "String"
									},
									"filemodified": {
										"value": {
											"value": "@activity('getlastmodifieddateof_file').output.lastModified",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_VVQM",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Web_Failure_Notification_",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "insert_to_filelog",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://prod-06.eastus.logic.azure.com:443/workflows/20b2d83527654311b8ff6ebb659a9563/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=I6ZUHfsOjhzZY1J0Umk8UAKuoboQfKoEQ-LBIRyJqAg",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"EmailTo\":\"@{pipeline().parameters.var_email_address}\",\n \"PipelineName\":\"@{pipeline().Pipeline}\",\n \"PipelineRunId\":\"@{pipeline().RunId}\",\n \"PipelineTime\":\"@{pipeline().TriggerTime}\",\n \"Subject\":\"Pipeline Failed: @{pipeline().Pipeline}\",\n \"ErrorMessage\":\"Error while executing Auto Ud INSERT_TO_FILELOG activity\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "get_filenames",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "loadmetadattotable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select distinct File_Name,Plant_code,Last_Modified,File_inserted from [VVQM].[Veeva_File_Log] where File_processed is null and file_source='AutoUD' order by Last_Modified",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DS_SQL_BPR_GETFILES",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "mergefiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "copyfromlillytoazurestorage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_filenames').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "filesmerging",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_AUTOUD_INBND_EXECUTE_DATALOAD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"File_Name": {
										"value": "@item().File_Name",
										"type": "Expression"
									},
									"Plant_code": {
										"value": "@item().Plant_code",
										"type": "Expression"
									},
									"File_inserted": {
										"value": "@item().File_inserted",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Web_Failure_Notification_onexecutechild",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "filesmerging",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://prod-06.eastus.logic.azure.com:443/workflows/20b2d83527654311b8ff6ebb659a9563/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=I6ZUHfsOjhzZY1J0Umk8UAKuoboQfKoEQ-LBIRyJqAg",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"EmailTo\":\"@{pipeline().parameters.var_email_address}\",\n \"PipelineName\":\"@{pipeline().Pipeline}\",\n \"PipelineRunId\":\"@{pipeline().RunId}\",\n \"PipelineTime\":\"@{pipeline().TriggerTime}\",\n \"Subject\":\"Pipeline Failed: @{pipeline().Pipeline}\",\n \"ErrorMessage\":\"Error while executing EXECUTE PIPELINE activity\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "checkforfiles",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_SFTP_AUTOUD_INBND_LILLY_CONN",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:30",
					"sleep": 10,
					"childItems": true
				}
			},
			{
				"name": "copyfromlillytoazurestorage",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_filenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_filenames').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "copy_from_lilly_to_azurestorage",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Deleteiffileexists",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DS_SFTP_AUTOUD_INBND_FILE_SRC",
									"type": "DatasetReference",
									"parameters": {
										"filename": "@item().File_Name"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_AUTOUD_INBND_ALL_FILES",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Deleteiffileexists",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_ADLS_AUTOUD_INBND_FILE_SRC",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().File_Name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "Web_Failure_Notification_oncopyto_Azurestage",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "copy_from_lilly_to_azurestorage",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://prod-06.eastus.logic.azure.com:443/workflows/20b2d83527654311b8ff6ebb659a9563/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=I6ZUHfsOjhzZY1J0Umk8UAKuoboQfKoEQ-LBIRyJqAg",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"EmailTo\":\"@{pipeline().parameters.var_email_address}\",\n \"PipelineName\":\"@{pipeline().Pipeline}\",\n \"PipelineRunId\":\"@{pipeline().RunId}\",\n \"PipelineTime\":\"@{pipeline().TriggerTime}\",\n \"Subject\":\"Pipeline Failed: @{pipeline().Pipeline}\",\n \"ErrorMessage\":\"Error while executing Auto Ud COPY DATA activity while coping data from lilly to azure storage\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Web_Failure_Notification",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "checkforfiles",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://prod-06.eastus.logic.azure.com:443/workflows/20b2d83527654311b8ff6ebb659a9563/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=I6ZUHfsOjhzZY1J0Umk8UAKuoboQfKoEQ-LBIRyJqAg",
						"type": "Expression"
					},
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"value": "{\n \"DataFactoryName\":\"@{pipeline().DataFactory}\",\n \"EmailTo\":\"@{pipeline().parameters.var_email_address}\",\n \"PipelineName\":\"@{pipeline().Pipeline}\",\n \"PipelineRunId\":\"@{pipeline().RunId}\",\n \"PipelineTime\":\"@{pipeline().TriggerTime}\",\n \"Subject\":\"Pipeline Failed: @{pipeline().Pipeline}\",\n \"ErrorMessage\":\"AutoUD File Don't Exist in SFTP Location\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"var_email_address": {
				"type": "string"
			}
		},
		"variables": {
			"modifieddate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "AUTOUD"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}