BQAZE1IVVQMDF01/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "BQAZE1IVVQMDF01"
		},
		"TRG_PL_MASTER_BPR_061218_properties_PL_MASTER_BPR_RAW2WEB_RUN_parameters_var_email_address": {
			"type": "string",
			"defaultValue": "sneh.gaur@elanco.com"
		},
		"TRG_PL_MASTER_AUTOUD_ID_OUT_1hrRc_properties_PL_MASTER_AUTOUD_ID_OUT_RAW2WEB_RUN_parameters_var_email_address": {
			"type": "string",
			"defaultValue": "sneh.gaur@elanco.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PL_MASTER_BPR_RAW2WEB_RUN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "EXE_PL_BPR_SRC_DATA_PULL",
						"description": "Execute Pipeline to Extract the Data from SFTP to RAW",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BPR_SRC_DATA_PULL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"var_email_address": {
									"value": "@pipeline().parameters.var_email_address",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "EXE_PL_BRP_WEB_APP_LOOKUP",
						"description": "Execute Pipeline to Extract the Data from Raw to Post to API",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "EXE_PL_BPR_SRC_DATA_PULL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_BRP_WEB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"var_email_address": {
									"value": "@pipeline().parameters.var_email_address",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"var_email_address": {
						"type": "string",
						"defaultValue": "sneh.gaur@elanco.com"
					}
				},
				"folder": {
					"name": "BPR"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_MASTER_AUTOUD_ID_OUT_RAW2WEB_RUN')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "PL_MASTER_AUTOUD_ID_OUT_RAW2WEB_RUN",
				"activities": [
					{
						"name": "EXE_PL_AUTOUD_INBND_SRC_DATA_PULL",
						"description": "Execute Pipeline to Extract the Data from SFTP to RAW",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_AUTOUD_INBND_SRC_DATA_PULL",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"var_email_address": {
									"value": "@pipeline().parameters.var_email_address",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "EXE_PL_AUTOUD_INBND_OUTBND",
						"description": "Execute Pipeline to Extract the Data from Raw to Post to API & Also Deviation Using Out Bound Pipeline",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "EXE_PL_AUTOUD_INBND_SRC_DATA_PULL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "PL_AUTOUD_INBND_WEB",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"var_email_address": {
									"value": "@pipeline().parameters.var_email_address",
									"type": "Expression"
								}
							}
						}
					}
				],
				"parameters": {
					"var_email_address": {
						"type": "string",
						"defaultValue": "sneh.gaur@elanco.com"
					}
				},
				"folder": {
					"name": "AUTOUD"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRG_PL_MASTER_BPR_061218')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "PL_MASTER_BPR_RAW2WEB_RUN Run 6am, 12pm, 18pm",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_MASTER_BPR_RAW2WEB_RUN",
							"type": "PipelineReference"
						},
						"parameters": {
							"var_email_address": "[parameters('TRG_PL_MASTER_BPR_061218_properties_PL_MASTER_BPR_RAW2WEB_RUN_parameters_var_email_address')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2020-03-22T14:58:00Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								6,
								12,
								18
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_MASTER_BPR_RAW2WEB_RUN')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRG_PL_MASTER_AUTOUD_ID_OUT_1hrRc')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "PL_MASTER_AUTOUD_ID_OUT_RAW2WEB_RUN Every 1 hour",
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "PL_MASTER_AUTOUD_ID_OUT_RAW2WEB_RUN",
							"type": "PipelineReference"
						},
						"parameters": {
							"var_email_address": "[parameters('TRG_PL_MASTER_AUTOUD_ID_OUT_1hrRc_properties_PL_MASTER_AUTOUD_ID_OUT_RAW2WEB_RUN_parameters_var_email_address')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 1,
						"startTime": "2020-03-22T15:02:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/PL_MASTER_AUTOUD_ID_OUT_RAW2WEB_RUN')]"
			]
		}
	]
}